*
{
    font: Verdana, Helvetica, Arial;
    color: white;
    background-color: rgb(145, 145, 145);
}

.page-content .title,
.description,
.ingredients,
.directions
{
    color: black;
    text-align: center;
}

.the-description
{
    color: black;
    text-align: center;
}
.the-ingredients .list
{
    color: black;
}

.the-directions .list
{
    color: black;
}

.burrito-image
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

footer
{
    color: white;
    background-color: rgb(145, 145, 145);
    text-align: center;
}